.field
  margin: 10px 0

textarea
  border: 1px solid darken($water-color, 30%)
  color: $dark-color
  outline: none
  font-family: $font
  background: transparent
  padding: 10px
  transition: border-color 0.2s ease

  &:hover
    border-color: darken($water-color, 70%)
  &:focus
    color: black
    border-color: $primary-color


input[type=text], input[type=search], input[type=email], input[type=password], input[type=number], input[type=tel]
  +text-field
  width: 100%

  &.invalid
    border-color: $red
    color: $red

select
  +appearance(none)
  padding: 5px 30px 5px 14px
  background: white
  border: 1px solid darken($water-color, 50%)
  outline: none
  color: lighten($dark-color, 20%)
  +border-radius(2px)
  background-image: asset-url('/assets/comfy/select.svg')
  background-repeat: no-repeat
  background-position: center right
  background-size: auto 50%

  &:invalid
    box-shadow: none

.field_with_errors
  input
    border-color: $red
